<div class="card col grid_content_card_header radius animate-right"
     style="position: absolute;width: 300px;top: 158px;right: 0;margin-right:20px;z-index: 99;-webkit-animation-duration: .2s;animation-duration: .2s">
    <ul class="col">
        {{#columns}}
            <li class="col padding-0" style="margin-bottom: 3px">
                <label class="col padding-medium padding-4 pointer transition-easy">
                    <div class="left">
                        <input type="checkbox"{{#show}} checked="checked"{{/show}} class="showHideField" value="{{column}}" data-rel="{{identificador}}"/>
                    </div>
                    <span class="left pointer padding-small padding-8">{{nome}}</span>
                </label>
            </li>
        {{/columns}}
    </ul>
</div>