.table-all {
    border: none
}

.sub-header-table {
    width: 100%;
}

.grid-form-body {
    border-color: var(--colorBackground)!important;
}

.sub-header-table-limit {
    width: 55px !important;
    margin-right: 7px;
    margin-top: 4px;
}

.sub-header-table-limit select {
    margin-bottom: 0;
    margin-top: 2px;
}

.table-campo-geral {
    margin-bottom: 0;
    font-size: 14px;
    border-radius: 4px;
}

.table-select-all {
    margin: 15px 2rem 11px 0;
}

.table-filter {
    height: 0;
    overflow: hidden
}

.btn-new-filter {
    margin: 2px 2px 2px 0;
    height: 30px;
}

.btn-new-filter i {
    margin-top: -1px;
}

.modal-filter-content {
    position: absolute;
    z-index: 99999;
    left: 1% !important;
    width: 98% !important;
    top: 16px;
}

.modal-filter-content .display-container {
    float: initial;
    margin: auto;
    overflow: hidden;
}

#table-maestru td {
    position: relative;
    overflow: hidden;
}

.modal-filter-content .display-container header {
    padding-left: 12px;
}

.modal-filter-content .display-container h4 {
    padding-bottom: 9px !important
}

.table-filter-columns, .table-filter-operator {
    margin: 1px 0 7px 5px;
}

.table-filter-value {
    padding-bottom: 5px;
    margin: 0 0 7px 5px
}

.table-filter-btn {
    margin: 2px 0 0 5px;
}

.tableLimit {
    padding-left: 10px!important;
}

.bar.pagination .button.active {
    background: var(--colorLine);
}

.pagination {
    background: #f1f1f1;
    border-top: solid 5px #ddd;
}

.tableImgTd {
    background-repeat: no-repeat;
    background-position: left;
    background-size: 96%
}

.activeBoolean {
    height: 16px;
    width: 16px;
    background: #ffabab;
    border-radius: 15px;
    margin: 5px 10px 0;
}

.activeBoolean.active {
    background: #62BAB2;
}

.btb {
    -webkit-box-shadow: 2px 2px 7px -3px rgba(61,61,61,1);
    -moz-box-shadow: 2px 2px 7px -3px rgba(61,61,61,1);
    box-shadow: 2px 2px 7px -3px rgba(61,61,61,1);
}

.grid_content_card_edit {
    max-height: calc(100vh - 300px);
    min-height: 200px;
    overflow: auto;
}

@media only screen and (min-width: 600px) {
    .sub-header-table {
        width: 250px !important;
        padding-top: 0 !important;
    }
    .modal-filter-content {
        padding: 0 10px;
        top: 16px;
        min-height: 380px;
    }
}

@html.darkmode .grid-form-body, @html.darkmode .form-control > .card {
    border-color: #111 !important;
    background-color: #444444;
}

@html.darkmode .extend_register, @html.darkmode .extend_register > .col {
    padding: 0;
}

@html.darkmode .extend_register:nth-child(odd) {
    background-color: #333333 !important;
    border-color: #555555!important;
}

@html.darkmode .color-white, @html.darkmode .form-crud, @html.darkmode .file_gallery > .mock-file{
    background-color: #444444 !important;
    color: #eeeeee !important;
    border-color: #333333 !important;
}

@html.darkmode .border-top {
    border-color: #666666!important;
}

@html.darkmode .form-crud input, @html.darkmode .form-crud select, @html.darkmode .w3-css input, @html.darkmode .form-crud textarea {
    color: #FFFFFF !important;
    background-color: #444444 !important;
}

@html.darkmode .form-crud select {
    border-bottom-color: #999999 !important;
}

@html.darkmode label span.col, @html.darkmode select option[disabled], @html.darkmode label.formLabel {
    color: #BBBBBB !important;
}

@html.darkmode .table-all {
    border-color: #555555 !important;
}

@html.darkmode .table-all tr > td:first-child > label {
    margin: 0;
    height: 22px;
}

@html.darkmode .table-all tr {
    background-color: #3c3c3c !important;
    border-color: #555 !important;
    color: #eeeeee !important;
}

@html.darkmode .table-all tr:nth-child(odd) {
    background-color: #444444 !important;
}

@html.darkmode .table-all tr:nth-child(odd) button, @html.darkmode .pagination {
    background-color: #333333 !important;
}

@html.darkmode .grid_content_card_header > ul.col {
    padding: 0 !important;
}

@html.darkmode .grid_content_card_header {
    color: #999999 !important;
}

@html.darkmode .pagination {
    color: #FFFFFF;
    border-top: 0 !important;
}

@html.darkmode .pagination > li {
    height: 45px;
    padding-top: 11px;
    border-radius: 7px;
}

@html.darkmode .switch .slider {
    background-color: #353535 !important;
}

@html.darkmode .loadindTableSpace .btn-floating, @html.darkmode .loadindTableSpace .btb {
    background: #444!important;
}

@html.darkmode .loadindTableSpace > div.col:not(.form-header) button {
    margin-left: 10px !important;
}

@html.darkmode .loadindTableSpace > div.col:not(.form-header) button > i {
    padding-right: 7px;
}

@html.darkmode .list-input > .col {
    padding: 0!important;
    color: #333333!important;
}

@html.darkmode .form-control.color-text-gray-dark {
    padding-top: 100px!important;
    font-size: 20px;
}

@html.darkmode button.opacity {
    opacity: .9
}

#table-maestru {
    padding: 0 30px;
}

.table-campo-geral {
    padding-left: 10px!important;
}

.loadindTableSpace {
    padding: 0;
}

.loadindTableSpace > div.col:not(.form-header) {
    padding-bottom: 10px !important;
}

.w3-css .table-all {
    border-bottom: none!important;
    border-left: none!important;
    border-right: none!important;
}