<div class="col radius-jumbo theme-l2 padding-small filter-logic" style="margin-bottom: 5px">
    <span class="right padding-left color-gray pointer hover-shadow radius-circle padding-small font-small btn-badge-remove"
          style="height: 22px;width: 22px;float: right;margin: 0 0 0 10px;">
        <i class="material-icons left font-medium" style="margin-left: -12px;">close</i>
    </span>
</div>