<div class="col radius-jumbo mode-background-colorBackground padding-small filter-logic" style="margin-bottom: 5px">
    <div class="left" id="filter_group_logic" style="padding-right: 3px"></div>
    <button class="btn-small left radius-jumbo padding-0 color-white hover-shadow btn-new-filter-and"
            style="margin-right: 5px;height: 28px;width: 28px;margin-top: 3px;"
            rel="{{identificador}}">
        e
    </button>
    <button class="btn-small left radius-jumbo padding-0 color-white hover-shadow btn-new-filter-or"
            style="margin-right: 5px;height: 28px;width: 28px;margin-top: 3px;"
            rel="{{identificador}}">
        ou
    </button>
    <span class="right padding-left theme pointer hover-shadow radius-circle padding-small font-small btn-group-remove"
          style="height: 22px;width: 22px;float: right;margin: 5px;" rel="{{identificador}}">
        <i class="material-icons left font-medium" style="margin-left: -12px;">close</i>
    </span>
</div>