<div class="responsive tableList col padding-24 s-padding-0" id="tableList-{{entity}}" data-entity="{{entity}}"
     data-id="{{identificador}}">
    <div class="col z-depth-2 grid-form-body radius border">
        <div class="col no-select theme-d1 loadindTableSpace">
            <div class="col padding-large padding-24 s-padding-medium s-padding-16" style="display: flow-root">
                <a href="dashboard" data-animation="back"
                   class="margin-bottom left color-white hover-shadow btn-floating">
                    <i class="material-icons left">keyboard_arrow_left</i>
                </a>
                <button title="filtro"
                        class="margin-bottom btn-floating left color-white hover-shadow btn-table-filter"
                        rel="{{identificador}}">
                    <i class="material-icons left">list</i>
                </button>
                {{#sync}}
                    <button title="enviar todos ({{sync}})" onclick="syncDataBtn('{{entity}}')"
                            class="margin-bottom left btn-floating color-white color-hover-text-blue hover-shadow">
                        <i class="material-icons">sync_problem</i>
                    </button>
                {{/sync}}

                {{#novo}}
                    <button class="btb radius right color-white hover-shadow btn-table-novo"
                            style="margin: 4px 0 18px 0"
                            rel="{{identificador}}">
                        <i class="material-icons left">add</i><span class="left">Novo</span>
                    </button>
                {{/novo}}

                <small class="margin-bottom total right"
                       style="height:40px; padding:12px 10px 6px 10px">{{total}}</small>

                <div class="left no-padding">
                    <h4 class="left" style="padding: 5px 0 0 7px;">
                        {{#goodName}}{{entity}}{{/goodName}}
                    </h4>
                </div>

                <div class="col right padding-right sub-header-table s-hide">
                    <div class="col sub-header-table-limit">
                        <select class="col tableLimit font-small theme-text-aux theme-d1" data-id="{{identificador}}">
                            <option {{#limits.a}}selected="selected" {{/limits.a}}value="15">
                                15
                            </option>
                            <option {{#limits.b}}selected="selected" {{/limits.b}}value="25">
                                25
                            </option>
                            <option {{#limits.c}}selected="selected" {{/limits.c}}value="50">
                                50
                            </option>
                            <option {{#limits.d}}selected="selected" {{/limits.d}}value="100">
                                100
                            </option>
                            <option {{#limits.e}}selected="selected" {{/limits.e}}value="250">
                                250
                            </option>
                            <option {{#limits.f}}selected="selected" {{/limits.f}}value="500">
                                500
                            </option>
                            <option {{#limits.g}}selected="selected" {{/limits.g}}value="1000">
                                1000
                            </option>
                        </select>
                    </div>

                    <div class="rest" style="margin-top: 2px">
                        <input type="text" class="table-campo-geral theme-text-aux" autocomplete="off"
                               data-id="{{identificador}}"
                               placeholder="busca..."/>
                    </div>
                </div>
            </div>
        </div>

        <div class="col theme-l1 padding-4 no-select">
            <div class="col table-filter transition-easy" style="display: flow-root">
                <div class="col padding-medium margin-bottom s-padding-4 s-padding-top s-margin-0 hide s-show">
                    <div class="col right padding-right sub-header-table">
                        <div class="col sub-header-table-limit">
                            <select class="col tableLimit font-small theme-text-aux theme-l1"
                                    data-id="{{identificador}}">
                                <option {{#limits.a}}selected="selected" {{/limits.a}}value="15">
                                    15
                                </option>
                                <option {{#limits.b}}selected="selected" {{/limits.b}}value="25">
                                    25
                                </option>
                                <option {{#limits.c}}selected="selected" {{/limits.c}}value="50">
                                    50
                                </option>
                                <option {{#limits.d}}selected="selected" {{/limits.d}}value="100">
                                    100
                                </option>
                                <option {{#limits.e}}selected="selected" {{/limits.e}}value="250">
                                    250
                                </option>
                                <option {{#limits.f}}selected="selected" {{/limits.f}}value="500">
                                    500
                                </option>
                                <option {{#limits.g}}selected="selected" {{/limits.g}}value="1000">
                                    1000
                                </option>
                            </select>
                        </div>

                        <div class="rest">
                            <input type="text" class="table-campo-geral theme-text-aux" autocomplete="off"
                                   data-id="{{identificador}}"
                                   placeholder="busca..."/>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="col right padding-4 hide adminShow" style="width: 50px">
                        <label for="import-file-crud" title="Recuperar backup dos registros"
                               class="right btn-floating hover-shadow opacity hover-opacity-off color-white">
                            <i class="material-icons left theme-text-d">cloud_upload</i>
                        </label>
                        <input type="file" id="import-file-crud" rel="{{identificador}}" accept=".xlsx, .xls, .csv"
                               class="hide"/>
                    </div>
                    <div class="col right padding-4 hide adminShow" style="width: 50px">
                        <label id="export-file-crud" rel="{{identificador}}" title="Backup dos registros"
                               class="right btn-floating hover-shadow opacity hover-opacity-off color-white">
                            <i class="material-icons left theme-text-d">cloud_download</i>
                        </label>
                    </div>
                    <div class="col right padding-4 hide adminShow" style="width: 70px">
                        <label id="download-file-crud" rel="{{identificador}}" title="Download dos registros Csv"
                               style="margin: 3px 15px 4px 0;"
                               class="right btn radius hover-shadow opacity hover-opacity-off color-white">
                            <i class="material-icons left theme-text-d">get_app</i>
                        </label>
                    </div>
                    <div class="col right padding-4 hide adminShow" style="width: 70px">
                        <label id="gerar-relatorio" rel="{{identificador}}" title="Gerar Relatório"
                               style="margin: 3px 15px 4px 0;"
                               class="right btn radius hover-shadow opacity hover-opacity-off color-white">
                            <i class="material-icons left theme-text-d">assessment</i>
                        </label>
                    </div>
                    <div class="rest table-filter-list padding-medium color-text-gray">
                        <div class="font-light font-large left padding-small theme-text-aux">Filtros:</div>
                        <button class="left theme-aux pointer hover-shadow radius padding-tiny padding-4 font-small btn-new-group"
                                rel="{{identificador}}" data-rel="group"
                                style="height: 26px;margin: 5px;">
                            <i class="material-icons left font-large theme-text">add</i>
                            <span class="left theme-text">filtro</span>
                        </button>
                        <button class="left disabled theme-aux pointer hover-shadow radius padding-tiny padding-4 font-small btn-new-group"
                                rel="{{identificador}}" data-rel="inner_join" disabled="disabled"
                                style="height: 26px;margin: 5px;">
                            <i class="material-icons left font-large theme-text">add</i>
                            <span class="left theme-text">grupo de inclusão</span>
                        </button>
                        <button class="left disabled theme-aux pointer hover-shadow radius padding-tiny padding-4 font-small btn-new-group"
                                rel="{{identificador}}" data-rel="outer_join" disabled="disabled"
                                style="height: 26px;margin: 5px;">
                            <i class="material-icons left font-large theme-text">add</i>
                            <span class="left theme-text">grupo de exlusão</span>
                        </button>
                        <label class="left padding-tiny padding-4 font-small" style="height: 26px;margin: 0 5px;">
                            <select class="col font-small theme-text-aux theme-l1 aggroup padding-4 radius margin-0"
                                    rel="{{identificador}}">
                            </select>
                        </label>
                        <div class="left padding-tiny padding-4 font-small sum-aggroup" style="height: 26px;margin: 0 5px;"></div>
                    </div>
                </div>

                <div class="col padding-medium" id="filter-logic"></div>

                <div class="modal-filter modal-grafico modal-filter-opacity btn-close-modal hide color-black opacity"
                     rel="{{identificador}}"></div>
                <div class="modal-filter modal-filter-content hide">
                    <div class="panel">
                        <div class="display-container radius animate-top card-4">
                            <header class="container theme">
                        <span class="theme-d3 padding-large opacity hover-opacity-off button margin-0 display-topright btn-close-modal"
                              rel="{{identificador}}">
                            &times;
                        </span>
                                <h4 class="padding-8">Novo Filtro</h4>
                            </header>
                            <div class="panel padding-24">
                                <select class="col s12 m3 table-filter-columns" data-entity="{{entity}}" data-rel="0" rel="{{identificador}}"></select>
                                <select class="col s12 m3 table-filter-operator hide">
                                    <option disabled="disabled" class="color-text-gray" selected="selected"
                                            value="">
                                        regra...
                                    </option>
                                    <option value="contém">contém</option>
                                    <option value="igual a">igual a</option>
                                    <option value="diferente de">diferente de</option>
                                    <option value="começa com">começa com</option>
                                    <option value="termina com">termina com</option>
                                    <option value="maior que">maior que</option>
                                    <option value="maior igual a">maior igual a</option>
                                    <option value="menor que">menor que</option>
                                    <option value="menor igual a">menor igual a</option>
                                </select>
                                <input type="text" placeholder="valor..." style="margin-top: 1px"
                                       class="col s12 m3 table-filter-value hide"/>

                                <div class="col s12 m2 hide table-filter-btn">
                                    <button title="aplicar filtro"
                                            class="btb left radius color-white hover-shadow opacity hover-opacity-off btn-table-filter-apply"
                                            rel="{{identificador}}">
                                        <i class="material-icons left">done</i><span
                                            class="left" style="padding-left: 5px">aplicar</span>
                                    </button>
                                </div>
                                <div class="col padding-12"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-grafico modal-filter-content hide">
                    <div class="panel">
                        <div class="display-container radius animate-top card-4">
                            <header class="container theme">
                        <span class="theme-d3 padding-large opacity hover-opacity-off button margin-0 display-topright btn-close-modal"
                              rel="{{identificador}}">
                            &times;
                        </span>
                                <h4 class="padding-8">Gráficos na Dashboard</h4>
                            </header>
                            <div class="panel padding-24">
                                <label class="col s12 m3 padding-right">
                                    <div class="col color-text-gray">Modelo do gráfico</div>
                                    <select class="col table-grafico-columns table-grafico-columns-type">
                                        <option value='line'>Linha</option>
                                        <option value='area' selected='selected'>Linha com Área</option>
                                        <option value='bar'>Colunas</option>
                                        <option value='barHorizontal'>Colunas Horizontais</option>
                                        <!--                                        <option value='timeline'>Linha do Tempo</option>-->
                                        <option value='scatter'>Gráfico de Pontos</option>
                                        <!--                                        <option value='bubble'>Bolhas</option>-->
                                        <!--                                        <option value='heatmap'>Mapa de Calor</option>-->
                                        <option value='pie'>Pizza</option>
                                        <option value='donut'>Bolacha</option>
                                        <option value='radialBar'>Barra Circular</option>
                                        <option value='radar'>Radar Pentágono</option>
                                    </select>
                                </label>
                                <label class="col s12 m3 padding-right">
                                    <div class="col color-text-gray">Operação</div>
                                    <select class="col table-grafico-columns table-grafico-columns-operacao">
                                        <option value='soma' selected='selected'>Soma</option>
                                        <option value='media'>Média</option>
                                        <option value='marioria'>Maioria</option>
                                        <option value='soma%'>Soma em %</option>
                                        <option value='media%'>Média em %</option>
                                        <option value='maioria%'>Maioria em %</option>
                                    </select>
                                </label>
                                <label class="col s12 m3 padding-right">
                                    <div class="col color-text-gray">Coluna Y</div>
                                    <select class="col table-grafico-columns table-grafico-columns-y"></select>
                                </label>
                                <label class="col s12 m3 padding-right">
                                    <div class="col color-text-gray">Coluna X</div>
                                    <select class="col table-grafico-columns table-grafico-columns-x"></select>
                                </label>

                                <label class="col s12 m3 padding-right">
                                    <div class="col color-text-gray">Agrupamento dos dados</div>
                                    <select class="col table-grafico-columns table-grafico-columns-group">
                                        <option value='hour'>Hora</option>
                                        <option value='day' selected="selected">Dia</option>
                                        <option value='week'>Semana</option>
                                        <option value='month'>Mês</option>
                                        <option value='year'>Ano</option>
                                    </select>
                                </label>

                                <label class="col s12 m3 padding-right">
                                    <div class="col color-text-gray">Ordenação</div>
                                    <select class="col table-grafico-columns table-grafico-columns-order">
                                        <option value='x_decrescente' selected='selected'>X Decrescente</option>
                                        <option value='x_crecente'>X Crecente</option>
                                        <option value='y_decrescente'>Y Decrescente</option>
                                        <option value='y_crecente'>Y Crecente</option>
                                    </select>
                                </label>

                                <label class="col s12 m3 padding-right">
                                    <div class="col color-text-gray">Precisão</div>
                                    <select class="col table-grafico-columns table-grafico-columns-precision">
                                        <option value='0' selected='selected'>Inteiro</option>
                                        <option value='1'>1 casa</option>
                                        <option value='2'>2 casas</option>
                                        <option value='3'>3 casas</option>
                                    </select>
                                </label>

                                <label class="col s12 m3 padding-right">
                                    <div class="col color-text-gray">Tamanho do gráfico</div>
                                    <select class="col table-grafico-columns table-grafico-columns-size">
                                        <option value='100%'>100%</option>
                                        <option value='50%' selected='selected'>50%</option>
                                        <option value='33%'>33%</option>
                                    </select>
                                </label>

                                <label class="col s12 m3 padding-right">
                                    <div class="col color-text-gray">Posição na dashboar</div>
                                    <select class="col table-grafico-columns table-grafico-columns-posicao">
                                        <option value='20' selected='selected'>auto</option>
                                        <option value='1'>1</option>
                                        <option value='2'>2</option>
                                        <option value='3'>3</option>
                                        <option value='4'>4</option>
                                        <option value='5'>5</option>
                                        <option value='6'>6</option>
                                        <option value='7'>7</option>
                                        <option value='8'>8</option>
                                        <option value='9'>9</option>
                                        <option value='10'>10</option>
                                        <option value='11'>11</option>
                                        <option value='12'>12</option>
                                        <option value='13'>13</option>
                                        <option value='14'>14</option>
                                        <option value='15'>15</option>
                                    </select>
                                </label>

                                <label class="col s12 m3 padding-right">
                                    <div class="col color-text-gray">Arredondamento das pontas</div>
                                    <select class="col table-grafico-columns table-grafico-columns-rounded">
                                        <option value='smooth' selected='selected'>Arredondado</option>
                                        <option value='straight'>pontiagudo</option>
                                        <option value='stepline'>quadrado</option>
                                    </select>
                                </label>

                                <label class="col s12 m3 padding-right">
                                    <div class="col color-text-gray">Label Coluna Y</div>
                                    <input type="text" class="col table-grafico-columns table-grafico-columns-label-y"/>
                                </label>

                                <label class="col s12 m3 padding-right">
                                    <div class="col color-text-gray">Label Coluna X</div>
                                    <input type="text" class="col table-grafico-columns table-grafico-columns-label-x"/>
                                </label>

                                <div class="col"></div>

                                <label class="col s12 m3 padding-right">
                                    <div class="col color-text-gray">Valor Mínimo Y</div>
                                    <input type="text"
                                           class="col table-grafico-columns table-grafico-columns-minimo-y"/>
                                </label>

                                <label class="col s12 m3 padding-right">
                                    <div class="col color-text-gray">Valor Máximo Y</div>
                                    <input type="text"
                                           class="col table-grafico-columns table-grafico-columns-maximo-y"/>
                                </label>

                                <label class="col s12 m3 padding-right">
                                    <div class="col color-text-gray">Valor Mínimo X</div>
                                    <input type="text"
                                           class="col table-grafico-columns table-grafico-columns-minimo-x"/>
                                </label>

                                <label class="col s12 m3 padding-right">
                                    <div class="col color-text-gray">Valor Máximo X</div>
                                    <input type="text"
                                           class="col table-grafico-columns table-grafico-columns-maximo-x"/>
                                </label>

                                <div class="col s12 m3 table-grafico-btn" style="padding: 15px 16px 0;">
                                    <button title="aplicar filtro"
                                            class="btb right radius theme hover-shadow opacity hover-opacity-off btn-table-grafico-apply"
                                            style="padding: 10px 20px;"
                                            rel="{{identificador}}">
                                        <i class="material-icons left">add</i>
                                        <span class="left" style="padding-left: 5px">Adicionar</span>
                                    </button>
                                </div>
                            </div>

                            <table class="table-all color-text-gray-dark" id="list-graficos"></table>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <table class="table-all" style="border: none">
            <thead>
            <tr class="no-select">
                {{#fields}}
                    {{#first}}
                    <th style="width: 105px;">
                    {{/first}}
                    {{^first}}
                    <th>
                    {{/first}}
                    {{#first}}
                        <label class="left" style="margin-left: -8px;">
                            <input type="checkbox" class="table-select-all" data-id="{{identificador}}"/>
                        </label>
                    {{/first}}
                    <span class="pointer grid-order-by" data-column="{{column}}" rel="{{identificador}}">
                        <span class="left padding-small padding-8">{{nome}}</span>
                    </span>
                </th>
                {{/fields}}
                <th class="align-right" style="padding-right: 20px;padding-top: 14px;width: 100px;">Ações</th>
            </tr>
            </thead>
            <tbody class="relative"></tbody>
        </table>
    </div>
    <div class="col padding-12"></div>

    <input type="hidden" class="table-pagina-{{entity}}" value="0" data-entity="{{entity}}"
           id="table-pagina-{{entity}}"/>
</div>