<div class='color-text-gray-dark font-xlarge font-light color-white padding-48 align-center table-info-result'>
    <p class='margin-bottom' style='margin-top: 0;'>
        <i class='material-icons font-xxlarge color-text-gray-dark'>priority_high</i>
    </p>
    sem registros
</div>